@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {

	font-family: 'Raleway', sans-serif;;
	font-size: 20px;
	background-color: #9BA3EB;
}
h1,h2,h3 {
	font-family: helvetica, sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}
p {
	text-align: justify;
}